.contener {
    display: grid;
    grid-template-columns: 1fr 10fr;
    min-height: 58vh;
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    padding-top: 1em; 
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    grid-template-areas: "a";

    }
.adminPanelContent {
    display: grid;
    grid-template-columns: 50%;
    grid-gap: 1em;
    padding-top: 1em; 
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    justify-content: center;
    
}
#adminPanel {
    
    border: 2px lime solid;
    text-align: center;
    
}

.column {
    grid-area: a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 2px lime solid;
    
}
.mentorform {
    grid-area: b;
    display: flex;
    flex-flow: column nowrap;
    border: 2px lime solid;

}

.mentorform form {
    align-self: center;
    text-align: center;
    padding-bottom: 1em;
}

p {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    border-bottom: 2px lime  dashed;
}


h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    border-bottom: 2px lime  dashed;
}

input {
    border: 2px lime dotted;
    padding: 2px 2px;
    background: black;
    text-align: center;
    color: lime;
}

input::-moz-placeholder {
    color: lime;
    text-align: center;
}

#mentorsubmitbutton {
    visibility: hidden;
}
button {
    background: black;
    color: lime;
    border: 2px lime solid;
}

#loginsubmitbutton {
    visibility: hidden;
}

#rankList {
    padding: 0;
}


