
h1 {
    display: flex;
    justify-content: center;
}

/*
.contener {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
*/

.content-profile {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 0.5em;
}

.profile-view {
    padding-top: 2%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
}

.content-box {
    display: flex;
    flex-flow: column nowrap;
    border: 0.1em solid;
    padding: 1em;
    background: black;
    }

div.content-box span {
    font-weight: bold;
    }
h1 {
    padding-top: 0.5em;
    width: 100%;
    border-top: 2px lime  dashed;
}

.buttonBar {
    display: flex;
    justify-content: flex-end;
}
