html {
    height: 100%;
}

body {
    all: unset;
    background-color: black;
    color: lime;
    font-family: Courier;
    font-weight: bold;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    border-top: 2px lime dashed;
    border-bottom: 2px lime dashed;
    height: 20%;
}

#logo {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    border-radius: 50%;
    width: 12%;
    filter: brightness(4);
}

#logout {
    
    border-radius: 100%;
    width: 5%;
    filter: brightness(4);
    align-self: center;
    margin-right: 1%; 
}

header p {
    align-self: center;
}

#informations {
    display: flex;
    flex-direction: column;
}
footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 2px lime dashed;
}

footer p {
    text-align: center;
}
