<link rel="stylesheet" href="style.css">
<a href=""><img id="logo" src="../images/logo.png" alt="Logo"></a>

<!--<button onclick="showWallet()">Wallet test</button>-->
<div id="informations">
    <p>Welcome&nbsp;<span id="fullname">{{ hName }} {{ hSurname }}</span>&nbsp;<br>
        you are logged as&nbsp;<span id="role">{{ role }}</span></p>
    {% if role == 'student' %}
    <p>Your rank:&nbsp;<span id="rank">{{ rank }}</span><br></p>
    <p>Your wallet:&nbsp;<span id="wallet"> {{ wallet }}</span></p>
    {% endif %}
</div>
<h1>{{ title }}</h1>
<a href=""><img id="logout" src="../images/logout.png" alt="Logout" title="Logout"></a>