<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!--style sheet ref-->
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/javascript/scripts.js"></script>
</head>

<body>
<div class="main">
    <!--header-->
    <header>{% include "header.html" with currentUser %}</header>
    <!--nav bar-->
    <nav>{% include "navigation.html" with currentUser %}</nav>
    <div class="contener">
        <div class="content-profile">
            <!--Student view-->
            {% if profile.getROLE().getNAME() == "student" %}
                <div class="content-box">
                    <p>Personal Data:</p>
                    <span id="name">
                        name: {{ profile.getNAME() }}
                    </span>

                    <span id="surname">
                        surname: {{ profile.getSURNAME() }}
                    </span>

                    <span id="email">
                        email: {{ profile.getEMAIL() }}
                    </span>

                    <span id="address">
                            gitHub Address: {{ profile.getADDRESS() }}
                    </span>
                </div>

                <div class="content-box">
                    <p>Class:</p>
                    <span id="class">
                        <br>{{ ccClass.getNAME() }}
                    </span>
                </div>

                <div class="content-box">
                    <p>Backpack</p>
                    {% for item in items %}
                    <span>{{ item.getNAME() }}</span>
                    {% endfor %}
                </div>
            <!--</div>-->
            {% endif %}

            {% if profile.getROLE().getNAME() == "mentor" %}
            <!--Mentor view-->
            <div id="mentor-view" class="profile-view">
                <div class="content-box">
                    <p>Personal Data:</p>

                    <span id="name">
                        name: {{ profile.getNAME() }}
                    </span>

                    <span id="surname">
                        surname: {{ profile.getSURNAME() }}
                    </span>

                    <span id="email">
                        email: {{ profile.getEMAIL() }}
                    </span>

                    <span id="address">
                            Address: {{ profile.getAddress() }}
                    </span>

                </div>

                <div class="content-box">
                    <p>Class:</p>
                    <span id="class">
                        <ul>
                            {% for class in classes %}
                            <li><span>{{ class.getNAME() }}</span><br></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>

                <div class="content-box assigned-students">
                    <p>Assigned students:</p>
                    <span id="insert-student">
                        <ul>
                            {% for student in students %}
                            <li><a href="/profile/{{ student.getID() }}">{{ student.getNAME() }} {{ student.getSURNAME() }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!--footer-->
    <footer>{% include "footer.html" ignore missing %}</footer>
    </div>
</body>
</html>