<!DOCTYPE html>

{% set headerData = headerData %}
{% set data = data %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <!--style sheet ref-->
        <link rel="stylesheet" href="/QuestStore-MagicznyAutobus/src/main/resources/static/css/style.css">
<!--        <link rel="stylesheet" href="shopstyle.css">-->
        <script src="../javascript/scripts.js"></script>
    </head>
    
    <body>
        <div class="main">
            <!--header-->
            <header>{% include "header.html" with headerData %}</header>
            <!--nav bar-->
            <nav>{% include "navigation.html" with headerData %}</nav>
            
            <div class="contener">
 
                <div class="content-shop">

                    <div class="column-shop">
                        <div class= shopitems>
                                {% for item in data.items %}
                                    <span class="shopitem" id="{{ item.id }}">
                                        <h2><span id ="title">{{ item.title }}</span></h2> <br />
                                        <a href=""><img class="image_off" src="../images/quests/{{ item.fileName }}"></a>

                                        <span value = "category"><p>{{ item.category }}</p></span>
                                        <span value = "descr"><p>{{ item.desc }}</p></span>
                                        <span value = "cost"><p>{{ item.cost }} cc</p></span>
                                        <div id="btnPanel" class="btnPanel">
                                            <span id="markBtn"><input type="image" src="../images/mark-zuckerberg.png" alt="mark" onclick="" width="20%"/></span>
                                            <span id="editBtn"><input type="image" src="../images/editbutton.png" alt="edit" onclick="" width="20%"/></span>
                                        </div>
                                    </span>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <footer>{% include "footer.html" ignore missing %}</footer>
        </div>            
    </body>
</html>